<mat-card>
  <mat-card-title> Deletar Carro </mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Marca"
        [value]="cars.marca"
        name="marca"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Modelo"
        [value]="cars.modelo"
        name="modelo"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ano" [value]="cars.ano" name="ano" disabled/>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Diária (R$)"
        [value]="cars.diaria"
        name="diaria"
        disabled
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Categoria"
        [value]="cars.categoria"
        name="categoria"
        disabled
      />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="deleteCar()" color="warn">Excluir</button>
  <button mat-raised-button (click)="cancel()" color="primary">Cancelar</button>
</mat-card>
