<mat-card>
    <mat-card-title> Alterar Clientes </mat-card-title>
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Nome"
          [(ngModel)]="clientes.nome"
          name="nome"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Identificação"
          [(ngModel)]="clientes.identificacao"
          name="identificacao"
        />
      </mat-form-field>
      <mat-form-field>
        <input matInput 
        placeholder="Tipo" 
        [(ngModel)]="clientes.tipo" 
        name="tipo" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Habilitação"
          [(ngModel)]="clientes.habilitacao"
          name="habilitacao"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Cep"
          [(ngModel)]="clientes.cep"
          name="cep"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Endereço"
          [(ngModel)]="clientes.endereco"
          name="endereco"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Complemento"
          [(ngModel)]="clientes.complemento"
          name="complemento"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Cidade"
          [(ngModel)]="clientes.cidade"
          name="cidade"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Estado"
          [(ngModel)]="clientes.estado"
          name="estado"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="País"
          [(ngModel)]="clientes.pais"
          name="pais"
        />
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="alteraClientes()" color="primary">
      Salvar
    </button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
  </mat-card>
  